<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Majors Garage Baseline+</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://js.stripe.com/v3/"></script>
</head>
<body>

<div class="container-fluid bg-secondary" style="padding-top: 2px; padding-bottom: 2px;">
    <div class="shadow p-4 mb-4 bg-light">
        <nav class="navbar navbar-expand-xl navbar-light bg-light">
            <a class="navbar-brand" style="font-size: 50px; margin-left: 150px;" href="/home"><img src="https://i.postimg.cc/TwLpSfCf/majorsgaragev4.png" style="height: 100px; width: 300px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="mx-auto">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto" style="font-size: 20px;">
                    <li class="nav-item dropdown" style="margin-left: 300px;">
                        <a class="nav-link" href="/baseline">Baseline+</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/driver">Driver</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/elite">Elite</a>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container-fluid bg-light" style="height: 750px;">
        <table class="table table-striped" style="text-align: center;">
            <h2 style="font-size: 40px; text-align: center; padding: 2rem;">Baseline+ Tier</h2>
            <thead>
              <tr>
                <th scope="col">Price</th>
                <th scope="col">Track | Car | Season</th>
                <th scope="col">Product Options</th>
              </tr>
            </thead>
            <tbody>
                {% for product in blineproducts %}
              <tr>
                <th scope="row">${{product.price}}</th>
                <td>{{product.name}} | <b>{{product.category}}</b></td>
                <td>
                <button
                    style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
                    id="checkout-button-price_1HlsC0IOxJKMqXnbQW0ijFQ4"
                    role="link"
                    type="button">
                    Buy Now
                </button>
                  
                <div id="error-message"></div>
                  
                <script>
                  (function() {
                    var stripe = Stripe('pk_test_51HiXQAIOxJKMqXnbCKyLpyc9lkUFYoPQw30n0Wkr5CY1OmxGXq9tO0XDgNEc96FyESM2O8NFKkSqDHE3SoSo47bT00RK01VJcV');
                  
                    var checkoutButton = document.getElementById('checkout-button-price_1HlsC0IOxJKMqXnbQW0ijFQ4');
                    checkoutButton.addEventListener('click', function () {
                      // When the customer clicks on the button, redirect
                      // them to Checkout.
                      stripe.redirectToCheckout({
                        lineItems: [{price: 'price_1HlsC0IOxJKMqXnbQW0ijFQ4', quantity: 1}],
                        mode: 'payment',
                        // Do not rely on the redirect to the successUrl for fulfilling
                        // purchases, customers may not always reach the success_url after
                        // a successful payment.
                        // Instead use one of the strategies described in
                        // https://stripe.com/docs/payments/checkout/fulfill-orders
                        successUrl: window.location.protocol + '//localhost:5000/success',
                        cancelUrl: window.location.protocol + '//localhost:5000/driver',
                      })
                      .then(function (result) {
                        if (result.error) {
                          // If `redirectToCheckout` fails due to a browser or network
                          // error, display the localized error message to your customer.
                          var displayError = document.getElementById('error-message');
                          displayError.textContent = result.error.message;
                        }
                      });
                    });
                  })();
                </script>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
    <div class="shadow p-4 mb-4 bg-light" style="margin-top: 5px; margin-bottom: 5px;">
        <div class="container-fluid bg-light" style="height: 50px;">
                <ul class="nav" style="justify-content: center;">
                    <li class="nav-item">
                    <a class="nav-link" href="/coming-soon">Discord</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/coming-soon">Terms of Service</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/coming-soon">Privacy Policy</a>
                    </li>
                </ul>
        </div>
    </div>

</div>


</body>
</html>