<!DOCTYPE html>
<html lang="en">
<head>
  <title>Majors Garage Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid bg-secondary" style="padding-top: 2px; padding-bottom: 2px;">
    <div class="shadow p-4 mb-4 bg-light" style="justify-content: center;">
        <nav class="navbar navbar-expand-xl navbar-light bg-light" style="justify-content: center;">
            <a class="navbar-brand" style="font-size: 50px;" href="#"><img src="C:\Users\Dallas\Documents\Projects\majors_garage\login\static\img\majorsgaragev4.png" style="height: 150px; width: 500px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        </nav>
    </div>
    <div class="container-fluid bg-light" style="height: 300px;">
        <div class="w-100 d-inline-block" style="text-align: center; margin-top: 30px;">
            <b style="font-size: 40px;">Welcome to Majors Garage!</b>
        </div>
        
    </div>
    <div class="shadow p-4 mb-4 bg-light" style="margin-top: 5px; margin-bottom: 5px;">
        <div class="container-fluid bg-light" style="height: 50px;">
                <ul class="nav" style="justify-content: center;">
                    <li class="nav-item">
                    <a class="nav-link" href="#">Discord</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Terms of Service</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Privacy Policy</a>
                    </li>
                </ul>
        </div>
    </div>

</div>


</body>
</html>